<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<property name="connection.datasource">java:/comp/env/jdbc/FinanceiroDB</property>
		
		<!-- current_session_context_class com o valor thread serve para indicar que a cada nova thread a sessão
		devera ser diferente -->
		<property name="current_session_context_class">thread</property>
		
		<!-- A propriedade abaixo com o valor update criara automaticamente a estrutura das tabelas -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<!-- Informa ao hibernate que a classe entidade abaixo existe e deve ser considerada -->
		<mapping class="br.com.javaparaweb.financeiro.usuario.Usuario"/>
	</session-factory>
</hibernate-configuration>